.container {
  display: flex;
  flex-wrap: wrap;
}

.Card {
    width: 100px;
    height: 140px;
    margin: 2rem;
    background-color: #ec1b1b;
    border: 2px solid #a50505;
    border-radius: 10px;
    box-sizing: border-box;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: .6s;
    transform-style: preserve-3d;
}
.Card span {
  opacity: 0;
  transition: none;
}
.Card.is-active {
  background-color: green;
  border-color: darkgreen;
  transform: rotateY(180deg);
}
.Card.is-active span {
  opacity: 1;
  transform: rotateY(-180deg);
  transition: opacity .2s linear .2s;
}
